<div class="bg-slate-50 py-5 w-full h-full flex flex-col items-center">
    <div class="h-[25%] w-[25%]">
        <Artwork::Image @thumbnail={{@model.thumbnail}} @id={{@model.image_id}} />
    </div>
    <p class="mt-4 font-light text-md mx-4 text-center">{{@model.copyright_notice}}</p>
</div>

<div class="flex flex-col items-center m-10">
    <div class="lg:w-[60%] md:w-[80%]">
        <h2 class="text-3xl">{{@model.title}}</h2>
        <div class="flex items-center justify-between my-3">
            <div class="w-[50%]">
                <p>{{@model.date_display}}</p>
                <p class="font-light my-4">{{@model.artist_display}}</p>
            </div>
            <Favorite @showLabel={{true}} @artwork={{@model}} />
        </div>
        {{this.description}}
    </div>
</div>